---
layout: page
title: Contact us!
permalink: /contact/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get in touch</h1>
          <p><img src="../img/logo2.png" ></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<!-- leave contact form out until its working-->

<section id="contact-form">
  
  <div class="container">
    
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <!--
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name" name="name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email Address" name="email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Subject" name="subject">
            </div>
          </form>
        -->
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <!--
          <form  action="https://getform.io/f/6fc58405-08a6-40e7-84bc-c3df6730c66e" method="POST">
            <div class="form-group-2">
              <textarea class="form-control" rows="3" placeholder="Your Message" name="message"></textarea>
            </div>
            <button class="btn btn-default" type="submit">Send Message</button>
          </form>
          -->
        </div>
      </div>
    
    </div>
  <!--get the email and phone as image-->
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Our Home</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>Casa do Impacto \\ Trav. de São Pedro, 8 \ 1200-432 Lisboa
            </li>
            <li>
              <i class="fa fa-envelope-o" ></i><A HREF="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#107;&#97;&#116;&#105;&#97;&#64;&#110;&#105;&#110;&#97;&#46;&#115;&#112;&#97;&#99;&#101;">Email us!</A>
            </li>
          </ul>

          <ul class="social-icons">
            <li>
              <a href="https://www.linkedin.com/company/nina-space/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/NinaSpacePage/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Office</h2>
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.1349276874644!2d-9.14799838514595!3d38.71471107959914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1933fa97cec973%3A0x8980d4c78be7fdaf!2sCasa%20do%20Impacto!5e0!3m2!1sen!2spt!4v1572279245932!5m2!1sen!2spt" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>            </div>
        </div>
      </div>
    </div>
  </div>
</section>
