---
layout: page
title: NinaSpace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">WE HELP PREVENT AND MITIGATE WILDFIRES. <br> WE HAVE GOT YOUR BACK.</h1>
          <p class="animated fadeInUp">We know you don't want to worry about wildfires. This is why we do this for you. We do it from space.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Our Mission</h2>
            <p>We make a commitment to future generations by using remote sensing and machine learning to fight the global issue of wildfires.</p>
            <h2>Our Vision</h2>
            <p>Our vision is to have a major impact on keeping our forests safe and healthy by offering a tech solution to mitigate wildfires globally.</p>
          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
<!-- Wrapper 2-->
<section id="feature">
<div class="container">
  <div class="row">

    <div class="col-sm-6 col-md-3">
      <div class="service-item">
        <h2>Use Tech for Good</h2>
        <p>We build ethical AI solutions that shall support the flourishing of human kind. By focusing on the importance of healthy forests we aim to reconnect humans with nature instead alienating them. Our products are designed to bring together diverse actors to solve the problem collaboratively.</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <h2>Offer Systemic Solutions</h2>
          <p>We look at the root cause of problems and create solutions to tackle it. We believe that systems thinking is the key to bring change for a sustainable planet. </p>
          
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <h2>Act for Climate Change</h2>
            <p>All our daily operations are driven by the desire to contribute to mitigating the risk of climate change. By helping our clients to adopt better forest management practices we want to ensure our trees acting as natural climate solution.</p>
            
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <h2>Impact Entrepreneurs</h2>
              <p>We have an impact entrepreneurial mindset and are optimistic that business can generate the biggest impact to solve pressing issues NOW.</p>
            </div>
          </div>
          
    </div>
  </div>
</section>


<!-- Service Start--> 
<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-5">
        <div class="section-title">
          <h2>How we Help:</h2>
        </div>
        <div class="row">

        <div class="col-sm-6 col-md-6">
            <div class="service-item">
              <i class="icon ion-flame"></i>
              <h4>Helping Government and Private Companies reduce Wildfire Risk</h4>
            </div>
          </div>
        <div class="col-sm-6 col-md-6">
            <div class="service-item">
              <i class="ion-eye"></i>
              <h4>Helping Government and Private Companies reduce Wildfire Risk</h4>
            </div>
          </div>

      </div>
    </div>


      <div class="col-sm-6 col-md-5">
          <div class="section-title">
              <h2>Who we help:</h2>
                  <li><h4>Public Sector  </h4></li>
                  <li><h4>Forestry</h4></li>
                  <li><h4>Utilities & Infrastructure  </h4></li>
                  <li><h4>Insurance  </h4></li>
              </div>
            </div>
        </div>    
    </div>
 
</section>
  <!--
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>Our Impact</h2>
            <p><strong>Increase efficiency:</strong> reduce time and cost, help improve communication and collaboration across organizations</p>
            <p><strong>Improve safety:</strong> monitor changes & help prioritize actions</p>
          </div>
        </div>
      </div>
    </div>
    
  </section>